<!-- Page Content -->
<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <h1 class="font-weight-light">Welcome...<span class="member-name"></span></h1>
            <p class="lead">Select CSV file to upload. </p>
            <p class="lead">Scroll down...</p>
            <input type="file" id="input" accept=".csv" multiple>
            <button class="btn" id="upload-csv">Read CSV</button>
            <div style="height: 350px"></div>
            {{!-- <canvas></canvas> CANVAS CHARTS GO HERE --}}
        </div>
    </div>
</div>